.ch-yellow
  color: $ch-yellow !important

.ch-shadow
  text-shadow: 5px 0 11px black

.ch-bg-yellow
  background-color: $ch-yellow !important

.ch-border-yellow
  border-color: $ch-yellow !important

[class^="swiper-button-"], .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet::before
  transition: all .3s ease


*, *:before, *:after
  box-sizing: border-box
  margin: 0
  padding: 0


.swiper-container
  width: 100%
  height: 28vw
  transition: opacity .6s ease

.swiper-container.swiper-container-coverflow
  padding-top: 2%

.swiper-container.loading
  opacity: 0
  visibility: hidden

.swiper-container:hover .swiper-button-prev,
.swiper-container:hover .swiper-button-next
  -webkit-transform: translateX(0)
  transform: translateX(0)
  opacity: 1
  visibility: visible


.swiper-slide
  background-position: center
  background-size: cover

.swiper-slide .entity-img
  display: none

.swiper-slide .content
  position: absolute
  top: 40%
  left: 0
  width: 50%
  padding-left: 5%
  color: #fff

.swiper-slide .content .title
  font-size: 2.6em
  font-weight: bold
  margin-bottom: 30px

.swiper-slide .content .caption
  display: block
  font-size: 13px
  line-height: 1.4


[class^="swiper-button-"]
  width: 44px
  opacity: 0
  visibility: hidden


.swiper-button-prev
  -webkit-transform: translateX(50px)
  transform: translateX(50px)


.swiper-button-next
  -webkit-transform: translateX(-50px)
  transform: translateX(-50px)


.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet
  margin: 0 9px
  position: relative
  width: 12px
  height: 12px
  background-color: #fff
  opacity: .4

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet::before
  content: ''
  position: absolute
  top: 50%
  left: 50%
  width: 18px
  height: 18px
  -webkit-transform: translate(-50%, -50%)
  transform: translate(-50%, -50%)
  border: 0px solid #fff
  border-radius: 50%

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:hover, .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active
  opacity: 1

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active::before
  border-width: 1px


@media (max-width: 1180px)
.swiper-slide .content .title
  font-size: 25px

.swiper-slide .content .caption
  font-size: 12px


@media (max-width: 1023px)
.swiper-container
  height: 40vw

.swiper-container.swiper-container-coverflow
  padding-top: 0


