body
  *
    z-index: 2
  #welcome
    height: 100vh
    nav
      background: transparent
      @media screen and (max-width: $break-large)
        background: #343a40!important
    .navbar-brand
      flex: 1
    &:after
      content: ""
      width: 100%
      height: 100vh
      background-image: $background
      background-size: cover
      background-position: center
      position: absolute
      top: 0
      left: 0
    &:before
      content: ""
      width: 100%
      height: 100vh
      background-image: $gradient
      background-size: 100%
      z-index: 1
      position: absolute
      top: 0
      left: 0
    .logo-container
      .logo
        height: 80%
    .menu-container
      .navbar-nav > li
        margin-left: 20px
        margin-right: 20px
        &:last-child
          margin-right: 0
          >a
            margin-right: 0
            padding-right: 0
    .title-container
      margin-top: 5vh
  #feature
    .feature-bound
      align-items: flex-end
      .feature-item
        text-align: center
        display: flex
        align-items: flex-end
        flex-direction: column
        img, .feature-desc
          width: 80%
          margin: auto
        .feature-desc
          min-height: 50px
          margin-top: 20px
  #feedback
    position: relative
    min-height: $feedback-height
    &:after
      background-color: $ch-yellow
      content: ''
      width: 100%
      height: #{$feedback-height - 100px}
      position: absolute
      z-index: -1
      top: 150px
      left: 0
    .swiper-container
      width: 100%
      height: $feedback-height
      //.swiper-slide:not(.swiper-slide-active)
      //  opacity: 0 !important
    .swiper-slide
      background-position: center
      background-size: cover
    .feedback-title
      height: 100px
      @media screen and (max-width: $break-large)
        height: 140px !important
      z-index: 5
    .feedback-item
      .feedback-left
        .top-avatar
          height: 50px
          @media screen and (min-width: $break-large)
            margin-left: 50px
          width: 100%
          border-top: $ch-yellow 8px solid
        .avatar
          background-image: $avatar
          background-size: cover
          width: 250px
          height: 250px
          background-color: $ch-yellow
          z-index: 5
          @media screen and (min-width: $break-large)
            margin-left: 50px
      .feedback-right
        z-index: 1
        background-image: $feedback-right
        background-size: 100% auto
        background-position: top
    .swiper-pagination
      position: relative !important
      .swiper-pagination-bullet
        width: 15px !important
        height: 15px !important
        margin: 5px
        &.swiper-pagination-bullet-active
          background: $ch-yellow
          outline: none !important
  #call-to-action
    .square-after
      position: relative
      &:after
        content: ""
        width: 40px
        height: 40px
        background: $ch-yellow
        position: absolute
        right: -22px
        top: 0
        z-index: -1
  #footer
    position: relative
    background-image: $background
    background-size: cover
    min-height: 250px
    width: 100%
    &:after
      content: ''
      width: 100%
      height: 100%
      background: black
      opacity: 0.5
      position: absolute
      left: 0
      top: 0
    .info
      display: flex
      align-items: center
      img
        width: 20px
        height: 20px