.ch-yellow {
  color: #f7b466 !important;
}

.ch-shadow {
  text-shadow: 5px 0 11px black;
}

.ch-bg-yellow {
  background-color: #f7b466 !important;
}

.ch-border-yellow {
  border-color: #f7b466 !important;
}

[class^=swiper-button-], .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet::before {
  transition: all 0.3s ease;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 28vw;
  transition: opacity 0.6s ease;
}

.swiper-container.swiper-container-coverflow {
  padding-top: 2%;
}

.swiper-container.loading {
  opacity: 0;
  visibility: hidden;
}

.swiper-container:hover .swiper-button-prev,
.swiper-container:hover .swiper-button-next {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide .entity-img {
  display: none;
}

.swiper-slide .content {
  position: absolute;
  top: 40%;
  left: 0;
  width: 50%;
  padding-left: 5%;
  color: #fff;
}

.swiper-slide .content .title {
  font-size: 2.6em;
  font-weight: bold;
  margin-bottom: 30px;
}

.swiper-slide .content .caption {
  display: block;
  font-size: 13px;
  line-height: 1.4;
}

[class^=swiper-button-] {
  width: 44px;
  opacity: 0;
  visibility: hidden;
}

.swiper-button-prev {
  -webkit-transform: translateX(50px);
  transform: translateX(50px);
}

.swiper-button-next {
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px);
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 9px;
  position: relative;
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 0.4;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 0px solid #fff;
  border-radius: 50%;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:hover, .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  border-width: 1px;
}

.swiper-slide .content .title {
  font-size: 25px;
}

.swiper-slide .content .caption {
  font-size: 12px;
}

.swiper-container {
  height: 40vw;
}

.swiper-container.swiper-container-coverflow {
  padding-top: 0;
}

body * {
  z-index: 2;
}
body #welcome {
  height: 100vh;
}
body #welcome nav {
  background: transparent;
}
@media screen and (max-width: 768px) {
  body #welcome nav {
    background: #343a40 !important;
  }
}
body #welcome .navbar-brand {
  flex: 1;
}
body #welcome:after {
  content: "";
  width: 100%;
  height: 100vh;
  background-image: url("/city-house/public/images/background.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}
body #welcome:before {
  content: "";
  width: 100%;
  height: 100vh;
  background-image: url("/city-house/public/images/gradient.png");
  background-size: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
body #welcome .logo-container .logo {
  height: 80%;
}
body #welcome .menu-container .navbar-nav > li {
  margin-left: 20px;
  margin-right: 20px;
}
body #welcome .menu-container .navbar-nav > li:last-child {
  margin-right: 0;
}
body #welcome .menu-container .navbar-nav > li:last-child > a {
  margin-right: 0;
  padding-right: 0;
}
body #welcome .title-container {
  margin-top: 5vh;
}
body #feature .feature-bound {
  align-items: flex-end;
}
body #feature .feature-bound .feature-item {
  text-align: center;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
body #feature .feature-bound .feature-item img, body #feature .feature-bound .feature-item .feature-desc {
  width: 80%;
  margin: auto;
}
body #feature .feature-bound .feature-item .feature-desc {
  min-height: 50px;
  margin-top: 20px;
}
body #feedback {
  position: relative;
  min-height: 600px;
}
body #feedback:after {
  background-color: #f7b466;
  content: "";
  width: 100%;
  height: 500px;
  position: absolute;
  z-index: -1;
  top: 150px;
  left: 0;
}
body #feedback .swiper-container {
  width: 100%;
  height: 600px;
}
body #feedback .swiper-slide {
  background-position: center;
  background-size: cover;
}
body #feedback .feedback-title {
  height: 100px;
  z-index: 5;
}
@media screen and (max-width: 768px) {
  body #feedback .feedback-title {
    height: 140px !important;
  }
}
body #feedback .feedback-item .feedback-left .top-avatar {
  height: 50px;
  width: 100%;
  border-top: #f7b466 8px solid;
}
@media screen and (min-width: 768px) {
  body #feedback .feedback-item .feedback-left .top-avatar {
    margin-left: 50px;
  }
}
body #feedback .feedback-item .feedback-left .avatar {
  background-image: url("/city-house/public/images/avatar.png");
  background-size: cover;
  width: 250px;
  height: 250px;
  background-color: #f7b466;
  z-index: 5;
}
@media screen and (min-width: 768px) {
  body #feedback .feedback-item .feedback-left .avatar {
    margin-left: 50px;
  }
}
body #feedback .feedback-item .feedback-right {
  z-index: 1;
  background-image: url("/city-house/public/images/feedback-right.png");
  background-size: 100% auto;
  background-position: top;
}
body #feedback .swiper-pagination {
  position: relative !important;
}
body #feedback .swiper-pagination .swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  margin: 5px;
}
body #feedback .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #f7b466;
  outline: none !important;
}
body #call-to-action .square-after {
  position: relative;
}
body #call-to-action .square-after:after {
  content: "";
  width: 40px;
  height: 40px;
  background: #f7b466;
  position: absolute;
  right: -22px;
  top: 0;
  z-index: -1;
}
body #footer {
  position: relative;
  background-image: url("/city-house/public/images/background.png");
  background-size: cover;
  min-height: 250px;
  width: 100%;
}
body #footer:after {
  content: "";
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
}
body #footer .info {
  display: flex;
  align-items: center;
}
body #footer .info img {
  width: 20px;
  height: 20px;
}

/*# sourceMappingURL=app.css.map */
